body{margin: 0px;
    text-align: left;
    font-family: 'Montserrat',sans-serif;
}
.Photo {
    width: 70px;
    height: 70px;
    margin-left:20px;
    cursor: pointer;
}
.vote{
  width: 1000px;
  height: 500px;
  object-position: -30px 0px;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 9px;
}
h1 {
    color: #333;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 1px;
}
p {
    display: block;
    font-size: 15px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.first{   background-color: #398AB9;
          padding: 20px 20px;

       }

.second{ font-size: 100%;
         background-color: white;
         padding-top: 10px;
         position: relative;
         padding-left: 40px;
        }

.second2{ font-size: 100%;
         background-color: lightblue;
         margin-top: 60px;
         margin-left: 445px;
         margin-right: 445px;
         text-align: center;
         position: relative;

        }
.login_button{
        width: 150px;
        height: 40px;
}
.third{  background-color: #d7fbe8 ;
         padding-bottom: 10px;
         padding-top: 10px;
         }

label{
  font-size: 20px;
  font-family: 'Montserrat',sans-serif;
}
input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=date] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=tel] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=password]
{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=number]
{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=email] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=submit] {
  width: 15%;
  font-size: 17px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

         .footer{ text-align: center;
           background-color: #398AB9;
           padding-top: 30px;
           padding-bottom: 30px;
         }
        .footnote{
          font-size: 25px;
          text-align: center;
          color: white;
        }
         .footer-link{
                      color: white;
                      font-family: 'Montserrat',sans-serif;
                      margin: 10px 20px;
                      text-decoration: none;}
         a:hover{color: red;}
         .copyright{color: #EAF6F6;
                   padding: 10px 0;
                   font-size: 0.75rem;}
         .button_b {
            background: #3D94F6;
            background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
            background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
            background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
            background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
            background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            color: #FFFFFF;
            font-family: Arial;
            font-size: 22px;
            font-weight: 100;
            padding: 18px;
            -webkit-box-shadow: 1px 1px 20px 0 #000000;
            -moz-box-shadow: 1px 1px 20px 0 #000000;
            box-shadow: 1px 1px 20px 0 #000000;
            text-shadow: 1px 1px 20px #000000;
            border: solid #337FED 1px;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            text-align: center;
         }

         .button_b:hover {
            border: solid #337FED 1px;
            background: #1E62D0;
            background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
            background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
            background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
            background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
            background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            text-decoration: none;
         }
